<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="css/styles.css">
<section id="navbar-section">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img class="img1" src="https://nitandhra.ac.in/main/images/logo.png" alt=""> ALUMNI</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" style="text-emphasis-color: white;" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="listdetails">Alumni list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Admin page</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <br>
  <br>
  <br>
<h1 style="text-align: center; margin-top: 30px; margin-bottom: 30px;">login page</h1>

<div class="container" style="max-width: 600px;margin:0 auto;padding:50px;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <form action="/login" method="post">
        <div class="form-group" style="margin-bottom:30px;">
            <input type="email" placeholder="Enter Email:" name="username" class="form-control">
        </div>
        <div class="form-group" style="margin-bottom:30px;">
            <input type="password" placeholder="Enter Password:" name="password" class="form-control">
        </div>
        <div class="form-btn" style="margin-bottom:30px;">
            <input type="submit" value="Login" name="login" class="btn btn-primary">
        </div>
      </form>
</div>






  <form action="/register" style="text-align: center; margin-top: 30px;">
    <button class="btn btn-primary" type="submit">Sign up!!</button>
 </form>
