<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>USER PAGE</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Serif&display=swap');
    .img2{
      background-color: #cccccc;
      height: 600px;
      width: 90%;
      opacity: 0.8;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    #footer {
  text-align: center;
  padding: 7% 15%;
}

.footer-brand {
  margin-right: 15px;
  margin-bottom: 30px;
}

.footer-para {
  color: grey;
  font-family: 'Ubuntu', sans-serif;
}
  </style>
  <script src="https://kit.fontawesome.com/2ee8436d10.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</head>
<body>
  <section id="navbar-section">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="home_nav"><img class="img1" src="https://nitandhra.ac.in/main/images/logo.png" alt=""> ALUMNI</a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home_nav">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="listdetails">Alumni list</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="event">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="job">Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="internship">Internships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <img src="http://www.nitandhra.ac.in/main/images/Gallery/75IND/75IND%20(4).jpeg" width="100%" height="100%" alt="" class="bgv">
  <section id="home">
    <p class="home-para" style="padding: 10%; margin-top: 100px;">WELCOME TO ALUMNI MANAGEMENT SYSTEM</p>

  </section> 
  <section id="about">
    <h1 style="text-align: center; margin-top: 150px;padding-top: 3%;">ABOUT US</h1>
    <h4 style="text-align: center; width: auto; padding: 3%;margin-left: 80px;margin-right: 80px; ">Welcome to our alumni network, where you can stay connected with your alma mater and fellow graduates.
      Our alumni network provides access to exclusive events, career opportunities, and networking resources to help you succeed.
      Thank you for being a part of our alumni community and helping us shape the future of our institution and the world.</h4>
  </section>
  <footer id="footer">
    <a href="https://twitter.com/NITANDHRA2015?t=mwlUbS33Ooh98HwgjnwhnQ&s=09"><i class="footer-brand fa-brands fa-twitter"></i></a>
    <a href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.instagram.com/nit.andhrapradesh/%3Fhl%3Den&ved=2ahUKEwiRwOvjqZ7-AhULR2wGHWmCDCIQFnoECAoQAQ&usg=AOvVaw3ejqjoEqmuPOG10jEEhe5y"><i class="footer-brand fa-brands fa-instagram"></i></a>
    <a href="https://m.facebook.com/nitandhrapradesh2015?wtsid=rdr_0oCWnug3zHIpQp9y1"><i class="footer-brand fa-brands fa-facebook-f"></i></a>
    <a href="https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.nitandhra.ac.in/&ved=2ahUKEwjEmtXyqJ7-AhVfSWwGHbkDBoYQFnoECBUQAQ&usg=AOvVaw0wT24e1XDnAw47EYXQuWz2"><i class="footer-brand fa-brands fa-google"></i></a>
    <a href="https://www.youtube.com/channel/UCrXR6gvnN47WAP2QFoBXWfQ"><i class="footer-brand fa-brands fa-youtube"></i></a>
    <p class="footer-para">Nit AndhraPradesh</p>
  </footer>
</body>

</html>
